<!DOCTYPE html>
<html>
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %>aft.js</title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>aft.js">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="<%- url_for("images/logo.png") %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>aft.js">
        <meta name="twitter:description" content="<%- theme.site_description %>">
        <meta name="twitter:image" content="<%- url_for("images/logo.png") %>">

        <link rel="icon" href="<%- url_for("images/logo.png") %>" type="image/x-icon">
        
        <!-- main page styles -->
        <%- css('css/page') %>

        <!-- this needs to be loaded before guide's inline scripts -->
        <script src="<%- url_for("js/vue.js") %>"></script>
        <script>
            window.PAGE_TYPE = "<%- page.type %>";
            window.NPM_NAME = "<%- theme.aft_npm %>";
            window.NPM_VERSION = "<%- theme.aft_version %>";
        </script>
    </head>
    <body class="docs">
        <div id="main" class="fix-sidebar">
            <%- body %>
        </div>
        <script src="<%- url_for("js/smooth-scroll.min.js") %>"></script>

        <!-- main custom script for sidebars, version selects etc. -->        
        <script src="<%- url_for("js/css.escape.js") %>"></script>
        <script src="<%- url_for("js/common.js") %>"></script>
    </body>
</html>
